using Microsoft.UI.Xaml;

namespace {{APP_NAME}};

public sealed partial class MainWindow : Window
{
    public MainWindow()
    {
        InitializeComponent();
        Title = "{{APP_NAME}}";
    }
}
