<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>WinExe</OutputType>
    <TargetFramework>{{TFM}}</TargetFramework>
    <RootNamespace>{{APP_NAME}}</RootNamespace>
    <UseWPF>true</UseWPF>
  </PropertyGroup>

</Project>
